/* Common */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
.textWhite{
  color: white!important;
}
.GrapItemBody{
  padding: 40px 0;
}

.fontSize30px {
  font-size: 30px;
}
/* End Common */
.FlexCenterItem{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* fontstyled */

@font-face {
  font-family: UTMAvo;
  src: url(./font/UTMAvo.ttf);
}
@font-face {
  font-family: UTMAvoBold;
  src: url(./font/UTMAvoBold.ttf);
}
@font-face {
  font-family: JosefinSansBold;
  src: url(./font/JosefinSans-Bold.ttf);
}
/* endfont */
.ConTainerFull{
  width: 100%;
}

.Header,
.Footer{
  background-color: #200027;
  font-family: JosefinSansBold;
  color: white;
}
.Header{
  position: relative;
}
.titleBox{
  display: flex;
  font-size: 18px;
}
.ItemBox01{
  flex-direction: column;
  text-align: center;
  width: 1062px;
  margin: 0 auto;
  color: black;
  font-size: 38px;
  font-family: JosefinSansBold;
}
.ItemBox01 > p{
  padding: 10px 0;
}
.titleBox > p{
  padding: 30px;
  cursor: pointer;
}
.LogoHeader{
  width: 50px;
  height: auto;
  position: absolute;
  left: 40px;
  top: 15px;
  cursor: pointer;
}
.Bodybox{
  background-image: url("../public/Static/Asset\ 16.png");
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}
.Img02{
  padding: 0 40px;
}
.Img02{
  background-image: url("../public/Static/Asset\ 2.png");
  background-size: cover;
  width: 360px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.iconNFT{
  height: 50%;
  width: auto;
  background-size: cover;
  margin: auto 10px;
}
.Img03{
  background-image: url("../public/Static/Asset\ 3.png");
  width: 1000px;
  height: 87px;
  font-size: 36px;
  font-family: UTMAvoBold;
  font-style: Bold;
  background-position: 50%;
  cursor: pointer;
}
.Img03 > p {
  margin: 0 5px;
}
.ItemBox03{
  justify-content: space-around;
  font-style: Bold;
  font-family: UTMAvoBold;
}
.SubItemBox03,
.SubItemBox05{
  width: 350px;
  height: 350px;
  color: black;
  padding: auto;
  background-color: rgba(228, 226, 228, 0.5);
  flex-direction: column;
  font-size: 36px;
  border-radius: 5%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.SubContentItem03{
  color: black;
  font-size: 20px;
  padding: 5px;
  font-family: UTMAvo;
}
.ImgItem03{
  width: auto;
  height: auto;
}
.SubItemBox03 > p:not(:last-child){
  padding-top: 40px;
}
.ImgItemBox04{
  background-image: url('../public/Static/Asset\ 8.png');
  width: 805px;
  height: 87px;
  font-size: 36px;
  cursor: pointer;
  font-family: UTMAvoBold;
}
.boderspace{
  width: 65%;
  margin: 0 auto;
  border-bottom: 3px solid black;
}
.ImgItemBox05{
  margin-right: -20px;
  background-size: cover;
}
.ContentBox05{
  font-family: UTMAvoBold;
}
.ItemFooter01{
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px;
  font-family: JosefinSansBold;
  font-size: 38px;
}
.ItemFooter02{
  display: flex;
  justify-content: space-between;
}
.ImgItemFooter02{
  width: auto;
  min-height: 70px;
  background-size: cover;
  padding: 10px;
}
.IconBoxItemFooter02{
  padding: 0 60px;
}
.ItemFooter03{
  font-size: 21px;
  padding: 20px;
}
.TitleContentItemBox06{
  font-size: 52px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.ItemBox06{
  width: 1054px;
  font-family: JosefinSansBold;
  margin: 0 auto;
}
.SubBox01ItemBox06{
  margin: 40px 0;;
}
.SubBox01ItemBox06 > p {
  font-size: 18px;
  padding: 15px 0;
}
.CommissonBox{
  font-family: JosefinSansBold;
  font-size: 40px;
}
/* Pc */
@media screen and (min-width: 1280px){
  .ConTainerFluid{
    width: 1280px;
    margin: 0 auto;
  }
  .BtnHeaderBox{
    display: none;
  }
  
}


/* tablet */
@media screen and (min-width: 992px) and (max-width: 1280px){
  .BtnHeaderBox{
    display: none;
  }
  .ConTainerFluid{
    width: 92vw;
    margin: 0 auto;
  }
  .GrapItemBody{
    padding: 20px 0;
  }
  .ItemBox01{
    width: 100%;
    margin: 0 auto;
  }
  .ItemBox03{
    justify-content: space-evenly;
  }
  .Img03{
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 28px;
  }
  .CommissonBox{
    font-size: 35px;
  }
  .SubItemBox03,
  .SubItemBox05{
    margin: 40px 0;
    transform: scale(0.7, 0.7);
  }
  .ImgItemBox04{
    width: 100%;
    height: 115px;
    font-size: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(0.7, 0.7);
    
  }
  .ItemBox06{
    width: 100%;
  }
  .ItemFooter01{
    font-size: 34px;
  }
}

/* mobiie */
@media screen and (min-width: 720px) and (max-width: 992px) { 
  
  .ConTainerFluid{
    width: 92vw;
    margin: 0 auto;
  }
  .Header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    transition: 2s;
  }
  .BtnMenuResposive,
  .BtnCloseResposive{
    background: none;
    color: white;
    font-style: bold;
    font-size: 40px;
    margin: 10px 20px;
    border: none;
  }
  .BtnCloseResposive{
    display: none;
  }
  .ResposiveMenuMobile{
    height: 100vh;
    display: none;
    background-color: #200027;
    position: absolute;
    top: 69px;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .titleBox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleBox > p{
    border-bottom: 1px solid #ccc;
    width: 90vw;
    text-align: center;
  }
  .ItemBox01{
    flex-direction: column;
    font-size: 30px;
    width: 100%;
  }
  .Img03{
    background-image: url("../public/Static/Asset\ 3.png");
    width: 100%;
    height: 100px;
    font-size: 22px;
    font-family: UTMAvoBold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .CommissonBox{
    font-size: 30px;
  }
  .ItemBox03{
    justify-content: space-around;
    font-style: Bold;
    flex-direction: column;
    font-family: UTMAvoBold;
  }
  .SubItemBox03,
  .SubItemBox05{
    margin: 40px 0;
  }
  .ImgItemBox04{
    width: 100%;
    height: 67px;
    font-size: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .SubFooterBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ItemFooter02{
    flex-direction: column;
    padding: 20px 0;
  }
  .IconBoxItemFooter02:last-child{
    padding: 20px;
  }
  .ItemBox06{
    width: 100%;
  }
  .TitleContentItemBox06{
    font-size: 46px;
  }
}
@media screen and (max-width: 720px) and (min-width: 576px){ 
  .BtnHeaderBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .ConTainerFluid{
    width: 92vw;
    margin: auto;
  }
  .Header{
    position: relative;
  }
  .BtnMenuResposive,
  .BtnCloseResposive{
    background: none;
    color: white;
    font-style: bold;
    font-size: 40px;
    margin: 10px 20px;
    border: none;
  }
  .BtnCloseResposive{
    display: none;
  }
  .ResposiveMenuMobile{
    height: 100vh;
    display: none;
    background-color: #200027;
    position: absolute;
    top: 69px;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .titleBox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleBox > a{
    border-bottom: 1px solid #ccc;
    width: 90vw;
    text-align: center;
  }
  .ItemBox01{
    flex-direction: column;
    font-size: 28px;
    width: 100%;
  }
  .Img03{
    background-image: url("../public/Static/Asset\ 3.png");
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-family: UTMAvoBold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .CommissonBox{
    font-size: 25px;
  }
  .ItemBox03{
    justify-content: space-around;
    font-style: Bold;
    flex-direction: column;
    font-family: UTMAvoBold;
  }
  .SubItemBox03,
  .SubItemBox05{
    margin: 40px 0;
  }
  .ImgItemBox04{
    width: 100%;
    height: 67px;
    font-size: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .SubFooterBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ItemFooter02{
    flex-direction: column;
  }
  .IconBoxItemFooter02:last-child{
    padding: 20px;
  }
  .TitleContentItemBox06{
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) and (min-width: 390px) { 
  .BtnHeaderBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .ConTainerFluid{
    width: 92vw;
    margin: auto;
  }
  .Header{
    position: relative;
  }
  .BtnMenuResposive,
  .BtnCloseResposive{
    background: none;
    color: white;
    font-style: bold;
    font-size: 40px;
    margin: 10px 20px;
    border: none;
  }
  .BtnCloseResposive{
    display: none;
  }
  .ResposiveMenuMobile{
    height: 100vh;
    display: none;
    background-color: #200027;
    position: absolute;
    top: 69px;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .titleBox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleBox > a{
    border-bottom: 1px solid #ccc;
    width: 90vw;
    text-align: center;
  }
  .ItemBox01{
    font-size: 20px;
    width: 100%;
  }
  .Img03{
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-family: UTMAvoBold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .CommissonBox{
    font-size: 23px;
  }
  .ItemBox03{
    justify-content: space-around;
    font-style: Bold;
    flex-direction: column;
    font-family: UTMAvoBold;
  }
  .SubItemBox03,
  .SubItemBox05{
    margin: 40px 0;
  }
  .ImgItemBox04{
    width: 100%;
    height: 67px;
    font-size: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .SubFooterBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ItemFooter01{
    font-size: 26px;
  }
  .ItemFooter02{
    flex-direction: column;
  }
  .IconBoxItemFooter02{
    padding: 20px 0;
  }
  .IconBoxItemFooter02:last-child{
    padding: 20px;
  }
  .TitleContentItemBox06{
    font-size: 36px;
  }
  .iconNFT {
    height: 100%;
    width: auto;
    background-size: cover;
    margin: auto 10px;
  }
  .Img03 .FlexCenterItem:first-child{
    margin-top: -5px;
  }
  .Img03 .FlexCenterItem:last-child{
    height: 15px;
  }
  
}
@media screen and (max-width: 391px) {
  
  .Img03{
    background-image: url("../public/Static/Asset\ 19.png");
    font-size: 16px;
  }
  .Img03 .FlexCenterItem:first-child{
    margin-top: -5px;
  }
  .Img03 .FlexCenterItem:last-child{
    height: 15px;
  }

  .iconNFT {
    height: 100%;
    width: auto;
    background-size: cover;
    margin: auto 10px;
  }
  .ImgItemBox04 > .iconNFT {
    height: 35%;
    width: auto;
  }
  .ItemFooter01{
    font-size: 26px;
  }
  .ItemFooter03 {
    font-size: 12px;
}
}
/* common resposmobile */
@media screen and (max-width: 1280px){
  .Img03{
    width: 100vw;
  }
}
@media screen and (max-width: 992px) {
  .LogoHeader{
    left: 47%;
  }
  .titleBox{
    font-size: 30px;
  }
  .titleBox > p{
    border-bottom: 1px solid #ccc;
    width: 90vw;
    text-align: center;
  }
  .CommissonBox{
    font-size: 20px;
  }
  .GrapItemBody{
    padding: 20px 0;
  }
  .Img03{
    background-image: url("../public/Static/Asset\ 17.png");
    flex-direction: column;
  }
  
  .ItemBox06{
    width: 100%;
  }
  .IconBoxItemFooter02{
    padding: 20px 0;
  }
  .IconBoxItemFooter02 > .ImgItemFooter02 {
    height: 140px;
    width: auto;
  }
  .ItemFooter01{
    flex-direction: row;
    justify-content: center;
  }
  .boderspace{
    width: 90vw;
  }
  .ItemFooter03 {
    font-size: 16px;
}
}
/* End common resposmobile */